.fade-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.8s ease-in; /* smooth fade */
  z-index: 9999;
}

.fade-overlay.active {
  opacity: 1;
  pointer-events: auto;
}