@font-face {
  font-family: "ClashDisplay";
  src: url("/assets/fonts/ClashDisplay-Semibold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "gd";
  src: url("/assets/fonts/gd.otf") format("opentype");
}

@font-face {
  font-family: "s";
  src: url("/assets/fonts/s.otf") format("opentype");
}

@import "tailwindcss";
